<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <section  id="card">

    <section id="perfil">
      <img id="photo" src="assets/perfil.jpg" alt="perfil">
      <h1>Vinícius Freitas de Souza</h1>
    </section>  
     
    <article class="text">
      <p>Matrícula: 23105659</p>
      <p>Turma: ADS0302M.</p>
      <span>Avaliação formadora I</span>
     </article> 
   

  </section>



 

 

</ion-content>